# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/dist
/node_modules
/dist/projects/glopt/node_modules
/dist/projects/pulsometr/node_modules
/dist/projects/uber/node_modules
/dist/projects/britlex/node_modules
/dist/projects/food/node_modules
/dist/projects/design_studio/node_modules
/dist/projects/pet_naturals/node_modules
/dist/projects/coca_cola/node_modules



# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
