.benefit {
    margin-top: 100px;
    &__wrapper {
        padding: 60px 65px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 143px;
    }
    &__column {
        &-title {
            padding-left: 35px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $color-main;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
            }
        }
        &:nth-child(2) {
            margin-top: 20px;
            ul {
                margin-top: 20px;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: -18px;
                    left: 0;
                    width: 1px;
                    height: calc(100% + 20px); 
                    background: $color-black;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 63px;
            height: 1px;
            width: 42px;
            background: $color-black;
        }
        h4 {
            margin-bottom: 0;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 99px;
        }
        &-icon {
            position: absolute;
            top: 45px;
            left: 42px; 
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-link {
            display: block;
            color: $color-main;
            &:hover {
                color: $color-main;
            }
        }
        &-text {
            padding: 22px 0 0 43px;
            span {
                display: block;
                margin-top: -3px;
            }
        }
    }
}