.footer {
    background-color: $color-black;
    min-height: 100px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 20px;
        background-color: $color-main_light;
        top: 15%;
        left: 0;
    }
}