.portfolio {
    margin-top: 120px;
    hr {
        border: 1px solid $color-main_light;
    }
    &__text {
        text-align: center;
        font-weight: 400;
        max-width: 600px;
        margin: 10px auto 0;
        font-style: italic;
    }
    &__list {
        list-style: none;
        margin-top: 20px;
    }
    &__item {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        &:nth-child(2), &:nth-child(4) {
            flex-direction: row-reverse;
        } 
        &-box {
            width: 500px;
            height: 300px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        &-img {
            width: auto;
            height: inherit;
            object-fit: contain;
            border-radius: 10px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

        }
    }
    &__info {
        max-width: 450px;
    }
    &__subtitle {
        text-align: center;
        color: $color-main;
    }
    &__tech {
        margin-top: 15px;
        font-weight: 700;
        text-align: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    &__links {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        &-text {
            color: $color-main;
        }
        &-img {
            height: 20px;
        }
        &:hover {
            color: $color-main;
        }
    }
}