.promo {
	min-height: 100vh; 
	position: relative;
    background: url(../img/promo.jpg) center center/cover no-repeat;
	padding-top: 150px;
	&__wrapper {
		max-width: 550px;
		padding: 50px 30px;
		border-radius: 10px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
		background: linear-gradient(40deg, rgb(229 193 77 / 70%) 50%, rgba(225, 186, 58, 0.7) 50%);
		backdrop-filter: blur(10px);
	}
	&__subtitle {
		color: #383333;
		&:before {
			width: 18px;
			height: 18px;
		}
	}
	&__title {
		margin-top: 10px;
		color: #383333;
	}
	&__links {
		margin-top: 35px;
		width: 250px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__link {
		color: $color-white;
		font-size: 14px;
		font-weight: 700;
		padding: 11px 25px;
		border-radius: 10px;
		transition: .2s background-color, 0.3s color;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		&:first-child {
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
			padding: 11px 25px;
			background-color: $color-main;
			backdrop-filter: blur(30px);
			color: rgba(255,255,255,0.8);
			font-size: 14px;
			&:hover {
				background-color: $color-black;
			}
		}
		&:last-child {
			&:hover {
				color: $color-black;
			}
		}	
	}
	&__tech {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		color: $color-white;;
		&-list {
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
		}
		&-item {
			height: 30px;
			width: auto;
		}
		&-img {
			height: inherit;
			width: inherit;
			filter: grayscale(20%);
			vertical-align: unset;
		}
	}

}
