.scale {
    padding: 118px 0;
    position: relative;
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        content: '';
        background: url('../img/bg_promo.jpg') center center/cover no-repeat;
        background-attachment: fixed;
        filter: brightness(.5);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 58px);
        grid-auto-rows: 58px;
        row-gap: 37px;
        column-gap: 40px;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template-rows: minmax(21px, auto) 14px;
        grid-template-columns: 200px 35px;
        justify-content: space-between;
        align-content: space-between;
        &-title {
            padding-left: 15px;
            @include before_circle;
            &:before {
                position: absolute;
                top: -9px;
            }
        }
        &-progress {
            width: 350px;
            height: 14px;
            border-radius: 4px;
            background-color: rgba(232, 228, 222, 1);
            span {
                display: block;
                height: 100%;
                background-color: $color-main;
            }
        }
    }
}