.skills {
    padding-top: 100px;
    &__wrapper {
        margin: 0 auto;
        padding-top: 36px;
        min-height: 372px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 1000px;
    }
    &__item {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 280px;
        padding: 30px 30px 0;
        border: 1px solid $color-black;
        &-icon {
            margin: 0 auto;
        }
        &-descr {
            line-height: 16px;
            margin-bottom: 0px;
            margin-top: 25px;
        }
        &-text {
            margin-top: 20px;
        }
    }
}